*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display_flex{
    display: flex;
}

.pointer{
    cursor: pointer;
}

.border{
    border: 1px solid rgb(204, 204, 204);
}

.radius{
    border-radius: 5px;
}

.decoration{
   text-decoration: none;
}

.clear{
   clear: both;
}

.color{
   color: rgb(6, 116, 243);
}

.header{
    position:fixed;
    width: 1349px;
    height: 40px;
    z-index:10;
    align-items: center;
    padding: 3px 0px;
    border-bottom: 1px;
    border-top: 3px solid rgb(230, 116, 50);
    box-shadow: 2px 2px 3px 1px rgb(236, 234, 234);
    background-color:rgb(248, 249, 250);
}

.header_left{
    margin-left: 35px;
}

.header_left img{
    margin-left:6px;
    padding: 7px;
}

.header_left:hover img{
    background-color: rgb(224, 223, 223);
}

.header_middle{
    align-items: center;    
    color:gray;
}

.header_middle a{
    color: rgb(128, 125, 125);
    font-size: 13px;
    padding: 13px 15px;
}

.header_center{
    width: 715px;   
    background-color:white;
    border-radius:3px;
    border: 1px solid rgb(185, 185, 185);
}

.header_center img{
    padding: 4px 5px;
}

.header_center input{
    border:none;
    width: 674px;
    padding: 5px;
    outline:none;
    font-size:14px;
    background-color:transparent;
}

.header_right .header_rightlogin{
    border-radius: 3px;
    border: 1px solid rgb(141, 141, 233);
    font-size: 14px;
    margin-left: 4px;
    width: 60px;
    padding: 4px 0px 0px 11px;
    color: rgb(141, 141, 233);
    background-color: rgb(231, 243, 248);
}

.header_right .header_rightsignup{
    border-radius: 3px;
    border: 1px;
    margin-left: 4px;
    width: 65px;
    padding:4px 0px 9px 10px;
    color:white;
    background-color: rgb(8, 153, 250);
}

.header_rightlogin:hover{
    background-color:rgb(202, 229, 243);
    transition: 0.5s ease-in-out;
}

.header_rightsignup:hover{
    background-color:rgb(63, 109, 236);
    color:rgb(177, 208, 243);
    transition: 0.5s ease-in-out;
}

.main{
    padding-top: 42px;
    margin-left: 30px;
    font-size: 12px;
}

.sideBar{
    width:145px;
    position:sticky;
    top:38px;
    height: 580px;
    margin-right:5px;
    border-right: 1px solid rgb(204, 204, 204);
    padding: 18px;
}

.sideBarOptions{
    margin-top: 10px;
    padding: 5px;
    color: rgb(128, 125, 125);
}

.public{
    padding-bottom: 17px;
}

.public img{
    float: left;
    align-items: center;
}

.public span{
    padding: 5px 0px 0px 3px;
}

.Options div{
    float:left;
    display: inline;
    width: 100px;
    padding: 0px 0px 17px 21px;
}

.collectives{
    padding: 15px 0px 10px 0px;
}

.collectives img{
    float: right;
}

.collectives span{
    width: 100px;
}

.explore img{
    float: left;
    align-items: center;
}

.explore p{
    padding: 1px 0px 0px 5px;
    width: 140px;
}

.teams{
    padding: 2px 0px 15px 0px;
}

.footer{
    border-width:1px; 
    border-style: solid none solid solid;
    border-color: rgb(204, 204, 204); 
    width:142px;
    padding: 8px;
}

.footer b{
    color:black;
}

.footer p{
    padding: 3px;
}

.sideBar_footer{
    color: white;
    margin: 10px 0px 5px 15px;
    padding: 5px;
    border-radius:3px;
    border: 1px solid rgb(192, 81, 16);
    background-color: rgb(248, 100, 14);
}

.footer span{
    margin-left:38px;
    font-size:11px;
}

.footer img{
    margin-left: 15px;
    width: 125px;
}

.content{
    width: 1040px;
}

.content_top{
    margin: 20px 0px 0px 15px;
}

.content_topLeft{
    width:145px;
}

.content_topLeft img{
    border-radius: 4px;
    border: 1px solid rgb(247, 245, 245);
    box-shadow: 0 4px 8px 0 rgba(182, 181, 181, 0.2), 0 6px 20px 0 rgba(182, 181, 181, 0.2);
    display: inline;
}

.content_topMiddle{
    margin: 12px 0px 0px 8px;
    width: 370px;
}

.name p{
    font-size: 30px;
    padding-bottom: 10px;    
}

.details{
    font-size: 12px;
    color: rgb(145, 144, 144);
}

.middle_top{
    width: 370px;
}

.year{
    width: 195px;
}

.year img{
    float: left;
}

.year span{
    padding: 4px 0px 0px 4px;
}

.clock{
    width:135px;
    padding-left: 8px;
}

.clock img{
    float: left;
    padding-top: 3px;
    align-items: center;
}

.clock span{
    padding: 4px 0px 0px 4px;
}

.middle_bottom{
    width: 365px;
    padding-top: 10px;
}

.logos img{
    float: left;
    align-items: center;
    padding-left: 3px;
}

.logos span{
    padding-left:4px;
}

.location{
    padding-left: 3px;
    width: 177px;
}

.location img{
    float: left;
    align-items: center;
}

.location span{
    padding: 5px 0px 0px 3px;
}

.content_topRight{
    margin: 10px 0px 0px 420px;
}

.profile{
    width: 87px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgb(199, 197, 197);
    background-color: white;
}

.profile img{
    float:right;
    margin-left: 2px;
    align-items: center;
}

.profile span{
    padding-top: 6px;
    color: rgb(165, 164, 164);
}

.Activity{
    margin: 30px 0px 0px 5px;
}

.Activity a{
    border: 1px;
    border-radius: 20px;
    display: inline;
    color: rgb(151, 150, 150);
}

.file{
    border: 1px;
    border-radius: 20px;
    background-color:rgb(255, 108, 23);
    color: white;
    padding: 6px 15px;
    margin: 0px 10px;
}

.content_middle{
    width: 1032px;
}

.content_middleLeft{
    width: 240px;
    padding: 30px 0px 0px 15px;
}

.start{
    font-size: 22px;
    padding-bottom:10px;
}

.Stats{
    width: 220px;
    padding: 10px;
}

.Stats_top{
   padding-bottom:15px;
}

.top{
    color: rgb(158, 155, 155);
}

.top span{
    font-size: 18px;
    color: black;
}

.topLeft{
    margin-left: 50px;
    color: rgb(158, 155, 155);
}

.topLeft span{
    font-size: 18px;
    color: black;
}

.midLeft{
    margin-left:75px;
    color: rgb(158, 155, 155);
}

.midLeft span{
    font-size: 18px;
    color: black;
}

.bottom_grade span{
    color: rgb(158, 155, 155);
}

.cloud{
    width:240px;
    padding-top: 10px;
}

.google{
    font-size: 22px;
    padding: 10px 0px;
}

.inside_google{
    width: 228px;
    padding:6px;
}

.img{
    width: 50px;
}

.emp{
    margin: 6px 50px 0px 25px;
}

.Goo_Clo{
    font-size: 14px;
}

.employee{
    padding-right: 8px;
    color: rgb(122, 118, 118);
}

.employee img{
    width:5px;
    margin-right: 5px;
    padding-bottom:2px;
    color: rgb(122, 118, 118);
}

.content_midCenter{
    margin: 25px 0px 0px 30px;
    padding: 5px;
}

.about_stack{
    width: 740px;
    color: rgb(43, 40, 40);
}

.head{
    font-size: 22px;
    margin-bottom:8px;
}

.points{
    font-size: 16px;
    color:rgb(100, 100, 100);
    margin-bottom:15px;
}

.points p{
    padding-bottom:5px ;
}

.points a{
    color:rgb(53, 125, 233);
}

.sites{
    font-size: 16px;
    color: rgb(100, 100, 100);
}

.site_top{
    padding-top: 8px ;
}

.site_bottom a{
    color: rgb(53, 125, 233);
    font-weight: 340;
}

.sites div{
    margin-bottom:16px;
}

.sites_li{
    margin-left: 15px;
    font-weight: 340;
}

.sites_li ul{
    padding-left: 15px;
}

.sites_li li{
    padding-bottom: 6px;
    margin-right:32px;
}

.sites_li a{
    color: rgb(53, 125, 233);
    font-weight: 340;
}

.center_left{
    padding-top: 17px;
    margin-left: 15px;
    width: 240px;
}

.communities{
    padding-bottom: 10px;
}

.commun{
    font-size: 22px;
    padding: 8px 0px 10px 0px;
}

.view{
    float: right;
    margin-left: 15px;
    padding-top: 8px;
    color: rgb(145, 144, 144);
}

.view span{
    padding: 4px 5px 0px 4px;
}

.view img{
    align-items: center;
    padding-top: 1px;
    float: right;
}

.elements{
    width: 230px;
    padding: 5px;
}

.elements div{
    padding-bottom: 5px;
}

.so{
    padding: 3px;
    font-size: 12px;
}

.so img{
    margin-left: 0px;
}

.so span{
    padding:0px 80px 0px 5px;
    color:rgb(43, 128, 224);
}

.mse{
    padding: 3px;
    font-size: 12px;
}

.mse img{
    margin-left: 0px;
}

.mse span{
    padding:0px 43px 0px 10px;
    color:rgb(43, 128, 224);
}

.su{
    padding: 3px;
    font-size: 12px;
}

.su img{
    margin-left: 4px;
}

.su span{
    padding:0px 104px 0px 10px;
    color:rgb(43, 128, 224);
}

.sf{
    padding: 3px;
    font-size: 12px;
}

.sf img{
    margin-left: 0px;
}

.sf span{
    padding:0px 100px 0px 10px;
    color:rgb(43, 128, 224);
}

.soft{
    padding: 3px;
    font-size: 12px;
}

.soft span{
    padding:0px 49px 0px 10px;
    color:rgb(43, 128, 224);
}

.center{
    width:775px;
    margin-left:25px;
    padding: 5px;
    align-items: flex-start;
}

.Badges{
    padding-bottom: 5px;
}

.badge{
    font-size: 22px;
    padding: 5px 620px 5px 0px;
}

.all{
    padding-top: 8px;
    color: rgb(145, 144, 144);
}

.view_badge{
    width: 100px;
}

.Gold{
    width: 215px;
    padding: 12px;
}

.gold_img{
    padding: 3px;
    margin-right: 6px;
}

.gold_msg p{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
}
.Gold_list{
    color: rgb(102, 100, 100);
}

.gold_msg span{
    color:rgb(100, 100, 100);
}

.Margin{
    margin-top: 5px;
}

.Margin_top{
    margin-top: 17px;
}
.delegates{
    width:83px;
    padding: 4px;
    background-color: whitesmoke;
}

.inherit{
    width:89px;
    padding: 4px;
    margin-top: 8px;
    background-color: whitesmoke;
}

.casting{
    width: 66px;
    padding: 4px;
    margin-top: 8px;
    background-color: whitesmoke;
}

.Silver{
    width: 215px;
    padding: 12px;
    margin-left: 26px;
}

.Silver_list span{
    color:rgb(102, 100, 100)
}

.overload{
    width: 89px;
    padding: 4px;
    background-color: whitesmoke;
}

.override{
    width: 80px;
    padding: 4px;
    margin-top: 8px;
    background-color: whitesmoke;
}

.expression{
    width: 84px;
    padding: 4px;
    margin-top: 8px;
    background-color: whitesmoke;
}

.Bronze{
    width: 215px;
    padding: 12px;
    margin-left:26px;
}

.Bronze_list span{
    color: rgb(102, 100, 100);
}

.superclass{
    width:78px ;
    padding: 4px;
    background-color: whitesmoke;
}

.xml{
    width: 76px;
    padding: 4px;
    margin-top: 8px;
    background-color: whitesmoke;
}

.index{
    width: 138px ;
    padding: 4px;
    margin-top: 8px;
    background-color: whitesmoke;
}

.date{
    float: right;
}

.content_lower{
    margin-left: 290px;
}

.top_tag{
    width: 775px;
}

.tags{
    margin-top: 10px;
}

.top_Tags{
    font-size: 22px;
    padding: 8px 615px 10px 0px;
}

.view_tags{
    padding-top: 14px;
    color: rgb(145, 144, 144);
}

.tag_content{
    width: 767px;
    padding: 0px;
}

.cHash{
    padding: 12px 5px 12px 12px;
    border-bottom:1px solid rgb(204, 204, 204);
}

.hashdotimg{
    padding: 3px 450px 0px 12px;
}

.items{
    border-radius: 3px;
    border: transparent;
    background-color: rgb(222, 238, 247);
    color: rgb(43, 128, 224); 
    padding: 2px 0px 4px 7px;   
}

.tag_hash{
    width: 19px;
}

.tags_score{
    padding-top: 3px;
    font-size: 16px;
}

.score{
    font-size: 11px;
    padding: 8px 20px 0px 3px;
    color: rgb(145, 144, 144);
}

.posts{
    font-size: 11px;
    padding: 8px 20px 0px 0px;
    color: rgb(145, 144, 144);
}

.percentage{
    font-size: 11px;
    padding-top: 8px;
    color: rgb(145, 144, 144);
}

.javadotimg{
    padding: 3px 442px 0px 12px;
}

.tag_java{
    width: 27px;
}

.netdotimg{
    padding: 3px 460px 0px 12px;
}

.tag_net{
    width: 26px;
}

.linqdotimg{
    padding: 3px 470px 0px 12px;
}

.tag_linq{
    width: 25px;
}

.stringdotimg{
    padding: 3px 460px 0px 12px; 
}

.tag_string{
    width: 36px;
}

.generics{
    padding: 12px 5px 12px 12px;
}

.genericdotimg{
    padding: 3px 438px 0px 12px;
}

.tag_generics{
    width: 57px;
}

.top_posts{
    margin-top: 20px;
    width: 770px;
}

.post{
    padding-bottom: 8px;
}

.top_Post{
    font-size: 22px;
    padding: 8px 0px 10px 0px;
}

.gues span{
    padding: 8px 265px 0px 0px;
    color: rgb(145, 144, 144);
}

.gues a{
    color:rgb(6, 116, 243)
}

.choice{
    border: 1px solid rgb(151, 149, 149);
    border-radius: 4px;
    margin-right: 8px;
}

.choice p{
    padding: 5px;
}

.Over{
    border-right: 1px solid rgb(151, 149, 149);
    background-color: rgb(228, 226, 226);
}

.Quest{
    border-right: 1px solid rgb(151, 149, 149);
    color:rgb(122, 118, 118);
}

.Answer{
    border-right: 1px solid rgb(151, 149, 149);
    color: rgb(122, 118, 118);
}

.Artic{
    color:rgb(122, 118, 118);
}

.newest{
    border: 1px solid rgb(151, 149, 149);
    border-radius: 4px;
}

.newest p{
    padding: 5px;
}

.grade{
    border-right: 1px solid rgb(151, 149, 149);
    background-color: rgb(228, 226, 226);
}

.new{
    color:rgb(122, 118, 118);
}

.post_content{
    width: 767px;
}

.ans-text{
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.ans-text img{
    padding-top: 6px;
}

.ans-one{
    padding: 5px 132px 0px 0px;
    font-size: 15px;
}

.Jul{
    padding-top: 5px;
}

.one{
    border-radius: 3px;
    border: transparent;
    background-color: rgba(18, 156, 80, 0.733);
    color: white;
    padding:6px 4px;
    margin: 0px 15px 0px 12px;
}

.ans-two{
    padding: 5px 263px 0px 0px;
    font-size: 15px;
}

.two{
    padding:6px 0px 4px 7px;
    border-radius: 3px;
    border: transparent;
    background-color: rgba(18, 156, 80, 0.733);
    color: white;
    margin:0px 15px 0px 12px;
    width: 33px;
}

.ans-three{
    padding: 5px 234px 0px 0px;
    font-size: 15px;
}

.three{
    padding:5px 0px 5px 5px;
    border: 1px solid rgb(151, 149, 149);
    border-radius: 3px;
    background-color: white;
    color:black;
    margin:0px 15px 0px 12px;
    width:33px;
}

.ans-four{
    padding: 5px 248px 0px 0px;
    font-size: 15px;
}

.four{
    padding:5px 0px 5px 6px;
    border-radius: 3px;
    border: transparent;
    background-color: rgba(18, 156, 80, 0.733);
    color: white;
    margin:0px 15px 0px 12px;
    width:33px;
}

.ans-five{
    padding: 5px 297px 0px 0px;
    font-size: 15px;
}

.ans-seven{
    padding: 5px 305px 0px 0px;
    font-size: 15px;
}

.ans-eight{
    padding: 5px 253px 0px 0px;
    font-size: 15px;
}

.ans-nine{
    padding: 5px 238px 0px 0px;
    font-size: 15px;
}

.ans-ten a{
    font-size: 15px;
    padding: 5px 482px 0px 0px;
}

.ans-ten{
    padding: 10px;
} 

.top_meta{
    margin-top: 15px;
    width: 770px;
}

.meta_post{
    font-size: 22px;
    padding: 8px 537px 10px 0px;
}

.Meta img{
    padding-top: 15px;
}

.Ques_three{
    padding-bottom: 10px;
}

.ans_twogray{
    padding-bottom: 10px;
}

.Meta p{
    margin: 15px 6px 0px 4px;
}

.Meta_content{
    width: 770px;
}

.Reach{
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.Reach a{
    font-size: 15px;
}

.skeet{
    padding: 10px;
}

.skeet a{
    font-size: 15px;
}

.tag_NetWork{
    margin: 20px 0px 25px 0px;
    width: 770px;
}

.tag_work{
    font-size: 22px;
    padding: 8px 470px 10px 0px;
}

.work{
    padding-top: 16px;
    color: rgb(145, 144, 144);
}

.net_content{
    width: 770px;
}

.net_one{
    border-radius: 3px;
    padding: 5px;
    margin:0px 15px 0px 12px;
    width: 27px;
    padding-left: 10px;
    color: rgb(122, 118, 118);
}

.bottom{
    background-color: rgb(31, 30, 30);
    width: 1349px;
    font-size: 12px;
}


.bottom_left{
    margin: 10px 0px 0px 110px;
}

.bottom_content{
    padding: 10px 0px 20px 0px;
}

.left_right{
    padding: 20px 50px 0px 20px;
}

.overflow{
    padding-bottom: 20px;
    color: rgb(196, 195, 195);
}

.Overflow_list p{
    padding-bottom: 12px;
    color: rgb(156, 151, 151);
}

.bottom_centerLeft{
    padding: 20px 100px 0px 0px;
}

.product{
    padding-bottom: 20px;
    color: rgb(196, 195, 195);
}

.product_list p{
    padding-bottom: 12px;
    color: rgb(156, 151, 151);
}

.bottom_center{
    padding: 20px 70px 0px 0px;
    width: 145px;
}

.company{
    padding-bottom: 20px;
    color: rgb(196, 195, 195);
}

.company_list p{
    padding-bottom: 12px;
    color: rgb(156, 151, 151);
}

.bottom_centerright{
    padding-top: 20px;
    width: 245px;
}

.exchange{
    padding-bottom: 20px;
    color: rgb(196, 195, 195);
}

.exchange_list p{
    padding-bottom: 10px;
    color: rgb(156, 151, 151);
}

.bottom_right{
    padding: 20px 0px 0px 10px;
}

.bottom_righttop span{
    padding-left: 10px;
    color: rgb(156, 151, 151);
}

.bottom_bottom{
    padding: 220px 0px 0px 10px;
    color: rgb(156, 151, 151);
}

.bottom_bottom a{
    color: rgb(156, 151, 151);
}